@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-slideshow-image/dist/styles.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

.sleek-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #ddd;
  box-shadow: inset 0 0 3px #ddd;
  border-radius: 10px;
  background-color: #ffffff;
}

.sleek-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}

.sleek-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #ddd;
  box-shadow: inset 0 0 3px #ddd;
  background-color: #cfcfcf;
}

.custom-orange{
  background: #E4AD2B;
}

.custom-border{
  border: 1px solid #E4AD2B;
}
